<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <style>
        body { font-family: sans-serif; margin: 30px; }
        .form-group { margin-bottom: 15px; }
    </style>
</head>
<body>

    <h2>Editar Dados: {{ cliente.nome }}</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">Salvar Alterações</button>
        <a href="{% url 'agendar:listarclientes' %}">Cancelar</a>
    </form>

</body>
</html>